name: "Run postman collection"
permissions: 
    pull-requests: write 
on:
  workflow_call:
    inputs:
        collection_id:
            description: "Postman collection ID to run"
            type: string
            required: true 

        postman_env_id:
            description: "Postman env ID"
            type: string
            required: false

        jira_project_key:
            description: "Jira project key name: ex: CIAM"
            type: string
            required: true
                
    secrets:
        postman_api_key:
            description: "Postman env ID"
            required: true

        jira_username:
          required: true

        jira_password:
          required: true
        

                
jobs:
    run_postman_collection:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            
            - uses: actions/setup-node@v4
              with:
                node-version: 18
            - run: npm install -g newman

            - name: Run without env
              run: newman run "https://api.postman.com/collections/${{inputs.collection_id}}?apikey=${{ secrets.postman_api_key }}" -r junit --reporter-junit-export report.xml
              if: ${{ inputs.postman_env_id == null }}

            - name: Run with env
              run: newman run "https://api.postman.com/collections/${{inputs.collection_id}}?apikey=${{ secrets.postman_api_key }}"  --environment "https://api.getpostman.com/environments/${{inputs.postman_env_id}}?apikey=${{ secrets.postman_api_key }}" -r junit --reporter-junit-export report.xml
              if: ${{ inputs.postman_env_id != null }}
            
            - name: Comment with the result
              uses: thollander/actions-comment-pull-request@v2
              with:
                filePath: ./report.xml
                pr_number: 1

            - name: Submit results to Xray
              env:
                JIRA_PROJECT_KEY: ${{inputs.jira_project_key}}
                JIRA_USERNAME: ${{ secrets.jira_username }}
                JIRA_PASSWORD: ${{ secrets.jira_password }}
              run: 'curl -H "Content-Type: multipart/form-data" -u $JIRA_USERNAME:$JIRA_PASSWORD -F "file=@report.xml" "https://jira.adeo.com/rest/raven/1.0/import/execution/junit?projectKey=$JIRA_PROJECT_KEY"'
        
            
