name: "Run postman collection"

on:
  workflow_call:
    inputs:
        collection_id:
            description: "Postman collection ID to run"
            type: string
            required: true 
        postman_env_id:
                description: "Postman env ID"
                type: string
                required: false
        postman_api_key:
                description: "Postman env ID"
                type: string
                required: false
                
jobs:
    run_postman_collection:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Install Postman CLI
              run: |
                curl -o- "https://dl-cli.pstmn.io/install/linux64.sh" | sh

            - name: Login to Postman CLI
              run: postman login --with-api-key ${{ inputs.postman_api_key }}

            - name: Run API tests
              run: |
                postman collection run ${{inputs.collection_id}} -e ${{inputs.postman_env_id}}
            